@import "tailwindcss";

@theme {
  --color-primary: #00e5ff;
  /* Cyan neon */
  --color-secondary: #7000ff;
  /* Purple neon */
  --color-background: #0a0a0a;
  --color-surface: #121212;

  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Offset for fixed navbar */
}

:root {
  background-color: var(--color-background);
  color: #fff;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}